{% block blog_roll %}
  {# update to have a toggle for subsection? #}
<section class="ms-blogroll ms-main__subsection">
  <header class="ms-section-header">
    <h2 class="ms-blogroll__title ms-main__subtitle ms-section-header__title">process</h2>
  </header>
  {% for p in page.find('/updates').children.order('date', 'desc') %}
    <a href="{{ p.url }}" class="ms-blogroll__item">
      <p class="ms-blogroll__item-entry-num">{{ p.header.blog_post_entry_num }}</p>
      <p class="ms-blogroll__item-title">{{ p.header.blog_post_title }}</p>
      <p class="ms-blogroll__item-date">{{ p.header.blog_post_weeks }} / {{ p.header.blog_post_dates }}</p>
      <div class="ms-blogroll__item-summary">{{ p.summary(36) }}</div>
    </a>
    <hr>
  {% endfor %}
</section>
{% endblock %}