{% block header_navigation %}
<nav class="ms-main-nav">
  <a class="ms-main-nav__item" href="{{ base_url == '' ? '/' : base_url }}">
    <img class="ms-logo" src="{{ url('theme://images/catLogo@0,5x.png') }}" >
    {# {{ config.site.title }} #}
  </a>
  {# {% include 'partials/navigation.html.twig' %} #}
  <a href="{{ base_url }}#project-brief" class="ms-main-nav__item ms-main-nav__link">project brief</a>
  <a href="{{ base_url }}#squad" class="ms-main-nav__item ms-main-nav__link">the squad</a>
  <a href="{{ base_url }}/updates/" class="ms-main-nav__item ms-main-nav__link">process</a>
</nav>
{% endblock %}



{# {% macro loop(page) %}
  {% for p in page.children.visible %}
  {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
    {% if p.children.visible.count > 0 %}
    <li class="has-children {{ current_page }}">
      <a href="{{ p.url }}">
        {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
        {{ p.menu }}
      </a>
      <ul>
        {{ _self.loop(p) }}
      </ul>
    </li>
    {% else %}
    <li class="{{ current_page }}">
      <a href="{{ p.url }}">
        {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
        {{ p.menu }}
      </a>
    </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

<ul>
  {% if theme_config.dropdown.enabled %}
    {{ _self.loop(pages) }}
  {% else %}
    {% for page in pages.children.visible %}
    {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
    <li class="{{ current_page }}">
      <a href="{{ page.url }}">
        {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
        {{ page.menu }}
      </a>
    </li>
    {% endfor %}
  {% endif %}
  {% for mitem in site.menu %}
  <li>
    <a href="{{ mitem.url }}">
      {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
      {{ mitem.text }}
    </a>
  </li>
  {% endfor %}
</ul>

 #}